.about{

    .container {
        display: none;
    }
    padding:60px 0 80px calc((100% - 1410px) / 2);
    background: url('../img/about/about__map.png') no-repeat top right;
    
    &__content{
        max-width: 565px;
    }

    &__title{
        font-size: 30px;
        font-weight: 700;
        color:$dark-grey;
        margin-bottom: 40px;
    }
    &__subtitle{
        font-size: 34px;
        font-weight: normal;
        line-height: 140%;
        color:$dark-txt;
        margin-bottom: 20px;
    }
    &__description{
        font-size: 18px;
        line-height: 150%;
        color:$dark-txt;
        margin-bottom: 40px;
    }

    &__link{
        display: inline-block;
        transition: .3s ease-in;
    }
}

