.compilation{
    padding:120px 0 100px 0;
    background-color:$dark-grey;
    &__title{
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        color:$light;
    }

    &__slider{
        
    }
    &__body{
        
        
    }
    &__item{
        margin: 0px 30px 0px 0px;
       
        margin-bottom: 30px;
        border-radius: 6px;
        &:nth-child(1){
           
        }
        &:nth-child(2){
            
        }
        &:nth-child(3){
            
        }

        img{
            border-radius: 6px;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            object-fit: contain;
        }
    }
    
}