.footer {

    
    padding: 88px 0 51px 0;
    background-color: $dark-grey;

    &__container{
        display: flex;
        border-bottom: 1px solid rgba($grey-footer-txt, .15);
    }
    &__bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top:51px;
    }

    &__social {

       & > * + * {
            margin-left:10px;
        }
    }

    &__pay-method{
        display: flex;
        align-items: center;

        & > * + * {
            margin-left:30px;
        }
    }

    &__btn{
        display: flex;
        align-items: center;
        text-align: center;
        color:$grey-footer-txt;
        font-size: 14px;
        border-radius: 5px;
        &--lg-dark{
            padding: 14px;
            background-color: $dark-grey-bg;

                &:hover{
                    background-color: $dark-txt;
                    color:$light;
                }
            }
        
        &--md-fill{
            padding: 10px;
            background-color: $dark-txt;
            color:$light;

            &:hover{
                background-color: $dark-grey-bg;
                color:$grey-footer-txt;
            }
        }
        &--md-border{
            padding: 10px;
            border:1px solid $grey-footer-txt;
            transition: .3s ease-in;

            &:hover {
                border-color: $btn-accent;
            }
        }
        
        
    }

    &__partners {
        display: flex;
        
        
        & > * + * {
            margin-left:30px;
        }
    }

    &__pay-method{
        
    }

    &__logo{
       display: flex;
       flex-direction: column;
       
    }
    &__copyright{
        margin-top: 17px;
        font-size: 14px;
        color:$grey-footer-txt;
    }
    
}

.info-footer{

    &__partners{
        display: none;
    }
}

.nav-footer {
    max-width: 930px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
    

    &__list{
        font-size: 16px;
        font-weight: normal;
        line-height: 130%;
        color:$grey-footer-txt;
        & > * + *:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__link{
        transition: color .3s ease-in;
        &:hover{color:$light;}
    }
    &__title{
        margin-bottom: 30px;
        color:$light;
    }
    
    &__info{

    }

    
}

.info-footer {
    margin-left: auto;
    padding-bottom:27px;
    color:$grey-footer-txt;

    .footer__social{
        display: none;
    }
    & > * + * {
        margin-top: 50px;
    }
   
    &__phones{ 
        &-num{
            margin-bottom: 8px;
        }
        &-link{
            color:$light;
        }
    }

    &__email{

        &-adres{
            margin-bottom: 8px;
        }
        &-link{
            color:$light;
        }
    }

    &__public {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 140%;
        color:#4B7EE8;
        & > * + * {
            margin-top: 8px;
        }
    }
}






// .footer__social{display: block;}