.header{
    background-color: $dark-grey;
   
}
.city{
    content: attr(data-content);
}
.header-top{
    
    padding: 24px 0 28px 0;
    color:$grey-txt;
    font-size: 14px;
    border-bottom:1px solid rgba(133,143,164,0.15);

    &__container{
        display: flex;
        align-items: center;
    }
    a:hover{
        color:$btn-accent-hover;
        transition: .3s ease-in;
    }

    &__logo{
        margin-right:50px;
    }
    &__city{
        
        display: flex;
        align-items: center;
    }
    &__control{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: auto;

        & > div + div {
            margin-left: 30px;
            padding-left:30px;
            line-height: 30px;
            border-left: 1px solid rgba($grey-txt, .3);
        }
    }
}

.collaborate{
    &__link{
        margin-right: 30px;
    }

    &__btn{
        padding:10px;
        border-radius: 6px;
        background-color: #384255;
        color:$light;
        font-weight: 700;
        border:none;
        cursor: pointer;
        &:hover{
            background-color: $grey-txt;
        }
    }
}
.callback{
    &__link:not(:last-child){
        margin-right: 30px;
        color:$light;
        & > span {
            color:$grey-txt;
        }
    }
    &__link{
        &--hovered{
            color:$btn-accent;
            transition: color .3s ease-in;
            &:hover{
                color:$btn-accent-hover;
            }
        }
}

    .arrow-dropdown{
        transform: translate(50%, -50%);
    }
}

.login {
    &__btn{
        display: flex;
        align-items: center;
        border: 0;
        background-color: transparent;
        color:$light;
        cursor: pointer;
        

        &:hover{
            color:$btn-accent-hover;
        }
    }
}

@media (max-width:1230px) {
    .header-top{
        &__control{
            & > div + div {
                margin-left: 10px;
                padding-left:10px;  
                
            }
        }

        &__logo{
            margin-right: 10px;
        }
    }

    .collaborate,.callback{
        &__link:not(:last-child){
            margin-right: 5px;
        }

        &__btn{
            padding:10px 0;
            background-color: transparent;
        }
    }
    
    

}

.header-middle{
    padding:16px 0;

    &__container{
        display: flex;
        align-items: center;
    }

    &__btn{
        margin-right:50px;
    }

    &__menu{
        margin-right:auto;
    }

    &__list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left:48px;
        font-size: 14px;
        font-weight: 400;
        color:$light;
    }

    &__item{
        padding: 12px 14px;
        margin-right:8px;
        &:last-child{
            margin-right:0;
        }
        transition: .3s ease-in-out;
        &:hover{
            background-color: $dark-grey-bg;
            border-radius: 6px;
        }
    }

    &__link{
        transition: .3s ease-in-out;
        // &:hover{
        //     color:$btn-accent;
        // }
    }
}

.search-form{
    display: flex;
    align-items: center;

    &__btn{
        margin-right:30px;
        border:0;
        padding:0;
        background-color: transparent;
    }
    &__input{
        display: none;
    }
}

.fast-btns{
    display: flex;
    align-items: center;
    &__btn{
        position: relative;
        padding:0;
        border: 0;
        height: 40px;
        margin-right:50px;
        background-color: transparent;
        &:last-child{
            margin-right:7px;
        }

        &::after{
            content: attr(data-count);
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top:0;
            right: 0;
            height: 26px;
            width: 26px;
            padding:8px;
            
            transform: translateX(70%);
            border: 2px solid $dark-grey;
            border-radius: 50%;
            background-color: $btn-accent;
            color:$light;
        }
    }

    &__icon{
        
        fill:$light;
        transition: .3s ease-in-out;

        &:hover{
            fill:$btn-accent;
        }
        &--fill{
            stroke:$light;
            fill:none;
            &:hover{
                stroke:$btn-accent;
                fill:none;
            }
        }
    }
}

.header-bottom{
    &  * + * {
        margin-left:19px;
        padding-left:19px;
        border-left:1px solid rgba(255,255,255,.15);
    }

    background-color: $dark-grey-bg;
    color:$light;
    padding: 7px 0;
    line-height: 30px;
    &__categories{
        display: flex;
        align-items: center;
    }
    &__container{
        display: flex;
        align-items: center;
    }

    &__link{
        display: flex;
        align-items: center;
        transition: color .3s ease-in-out;

        &:hover{
            color:$btn-accent;
        }
    }
}