.partner {
    background-color: $dark-grey;
    border-radius: 6px;

    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1184px;
        margin: 0 auto;
    }

    
    &__content{
        max-width: 572px;
    }
    &__title{
        margin-bottom: 30px;
        font-size: 36px;
        font-weight: 500;
        line-height: 120%;
        color:$light;

        &--selected{
            color:$btn-accent;
        }
    }
    &__link{
        display: inline-block;
        transition: .3s ease-in;
    }
}

