.ui-kit{
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    &__btn{
       
        padding:12px 20px;
        
        &--fill{
            background-color: $btn-accent;
            color:$light;
            &:hover{
                background-color: $btn-accent-hover;
            }
        }
        &--border-accent{
            background-color: transparent;
            border: 1px solid $btn-accent;
            color:$btn-accent;
            &:hover{
                background-color: $btn-accent;
                color:$light;
            }
        }

        &--border-light{
            background-color:transparent;
            border: 1px solid $light;
            color:$light;
            &:hover{
                background-color: $btn-accent;
                color:$light;
            }
        }
    }
}